h1 {
    font-size: 2.5em;
    color: #643d3d;
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #643d3d;
    block-size: border-box;
    width: 400px;
    background-color: peachpuff;
    margin: auto
}

.recipe-list {
    margin: auto;
    padding: 0;
    list-style-type: none;
    max-width: 400px;
    background-color: rgb(255, 241, 228);
    border: 2px solid #643d3d;
    block-size: border-box;
    text-align: center;
    font-weight: 800;
}

.disclaimer {
    font-size: 0.9em;
    color: #a94442;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #643d3d;
    block-size: border-box;
}

h3 {
    color: #643d3d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    border: #643d3d 1px solid;
    padding: 5px;
    width: fit-content;
}